.sidebar {
  flex: 1 1 0;
  border: 1px solid #ececec;
  background: #ffffff;
  min-width: 360px;
  width: 100%;
  max-width: 440px;
  height: auto;
  max-height: 100vh;
  // overflow-y: scroll;
  // overflow-y: auto;
  margin-bottom: 1px;
  margin-left: 5px;
  margin-right: 8px;
  position: relative;

  .arborist-row {
    user-select: text; /* важно для старта drag */
    -webkit-user-select: text; /* Safari */
    // -webkit-user-drag: element; /* Safari */
    // width: 100%;
    // max-width: 300px;
    // min-width: 200px;
  }
  .row {
    -webkit-user-drag: element;
  }
  .row--editing {
    -webkit-user-drag: none;
  }
  .arborist-row .arborist-label {
    user-select: none;
    -webkit-user-select: none;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .group-icon {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }

  .row--selected {
    background-color: #e5e7eb; /* bg-gray-200 */
  }

  .row--preview {
    opacity: 0.6;
  }

  .input-wrapper {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
  }
}
.sidebar-wrapper {
  padding: 10px 10px 0 10px;
  position: sticky;
}

.sidebar-tabs {
  display: flex;
  padding-left: 6px;
}
.grey-line {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  margin: 8px 0;
}

.layers-list-item {
  margin-left: 10px;
}

.inserting-props {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  .inserting-props-title {
    line-height: 110%;
    font-weight: 500;
    height: 38px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    span {
      font-size: 12px;
      font-weight: 400;
    }
  }
}
.variables-panel {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  overflow-y: scroll;
  max-height: calc(100vh - 202px);
  .table-header,
  .table-row {
    display: flex;
    align-items: stretch;
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
  }

  .table-header {
    border-top: 1px solid #e0e0e0;
    font-weight: 700;
    .table-cell {
      padding-left: 10px;
    }
  }

  .table-cell {
    flex: 1;
    padding: 0;
  }

  .table-cell:not(:last-child) {
    border-right: 1px solid #e0e0e0;
  }

  .table-cell.table-actions {
    border-right: none;
  }

  .table-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 40px;
  }
}

.image-gallery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 230px;
  min-height: 250px;
  position: relative;
  .gallery-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 12px;
  }

  .image-container {
    position: relative;
    width: 100%;
    padding-top: 100%; // 1:1 aspect ratio
    background-color: rgb(250, 246, 246);
    border-radius: 8px;
    overflow: hidden;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
  }

  .delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 22px;
    height: 22px;
    padding: 4px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    z-index: 1;
  }

  .image-container:hover .delete-button {
    display: flex;
  }
}

.image-gallery-wrapper {
  padding: 4px;
  border: 1px dashed transparent;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.image-gallery-wrapper.drag-over {
  border-color: #1976d2;
  background-color: #f0f4ff;
}

.image-gallery-wrapper:hover {
  border-color: #ccc;
}

.dynamic-images-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #fbfbfb;
    border-radius: 5px;
    .image {
      width: 100%;
      max-width: 120px;
      max-height: 60px;
      object-fit: contain;
      margin-right: 6px;
    }

    .delete-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 4px;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
